html{
  width: 100%;
  background-color: rgba(0,0,0,.02);
}

.todos{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  position: relative;
  flex-direction:column;
  align-items:center;
  width: 100%;
  height: 100%;
  transition-property: margin-left,width;
  transition-duration: 500ms,500ms;
}

/*加>代表todos下直接的span,孙辈不算*/
.todos > span:first-child{
  font-size: 10em;
  color: rgba(175, 47, 47, 0.15);
}

.input {
  font-size: 0;
  width: 60%;
  height: 10%;
  box-shadow:0 0px 30px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1), inset 0 -3px 5px rgba(0,0,0,0.03);
  background-color: rgba(255, 255, 255, .9);
}

/*>*/
.select-all{
  display: inline-block;
  visibility:hidden;
  font-size: 25px;
  height: 66px;
  width: 66px;
  text-align: center;
  line-height: 66px;
  color:rgba(0, 0, 0, .2);
  transform:rotate(90deg);
}
/*搜索框*/
.search{
  display: inline-block;
  visibility:visible;
  top:20px;
  width: 30px;
  height: 30px;
  background-image: url(../picture/big.png);
  background-size: 100%;
}

.input input {
  outline: none;
  height: 80%;
  border: none;
  font-size: 1em;
  width: calc(100% - 120px); 
}

.input input::-webkit-input-placeholder {
  font-style:italic;
  color:rgba(0, 0, 0, .2);
} 


/* @media (min-width: 900px) {
  .todos{
    width: calc(100%);
    margin-top:100px;
  }
} */

.todo{
  box-shadow:  0 50px 80px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  width: 60%;
  font-size: 1.5em;
  line-height: 1em;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: none;
  border-bottom: 0.05em solid #ededed;
  align-items: center;
  word-break:break-all;
  background-color: white;
}

.todo div{
  cursor: pointer;
  display: none;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 15px;
  background-image: url(../picture/X.png);
  -webkit-background-size: 100%;
  background-size: 100%;
  background-position: center;
}

.todo:hover div {
  display: block;
}

.todo .reinput{
  height: 80%;
  font-size: 1em;
  outline: none;
  border:0.1em solid black;
  background-color: rgb(238, 238, 238);
  width: calc(100% - 69px);
  margin:0 3px 0 66px;
  padding-right: 32px;
  box-shadow:inset 0 0px 10px 0 rgba(0, 0, 0, 0.2);
}

.todo > span:nth-of-type(1){
  line-height: 66px;
  width: 66px;
  height: 66px;
  flex-shrink:0;
  text-align: center;
}

.todo  .question{
  display: block;
  padding-right: 5%;
  flex-grow: 1;
  text-decoration: none;
  transition: .3s;
}

.todo span:nth-of-type(1) span {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  height: 50%;
  border: 0.1em solid rgba(0,0,0,0.2);
  border-radius: 1em;
}

.tick_on {
  background-image: url(../picture/gou.png);
  background-position: center;
  -webkit-background-size: 100%;
  background-size: 100%;
}

.todos .todo .line_through {
  text-decoration:line-through;
  color:#d9d9d9;
  transition: .3s;
}

.tail {
  position: absolute;
  display: block;
  line-height: 3em;
  text-align: center;
  font-size: 0.8em;
  color: rgb(119, 119, 119);
  z-index: 1000;
  position: absolute;
  height: 10%;
  width: 60%;
  bottom: -10%; 
  background-color: rgba(255,255,255,0.9);
}
.tail .items {
  position: absolute;
  left:5%;
}
.tail a {
  padding: 0.5% 1%;
  margin:0 10%; 
  border: 0.1em solid rgba(255,255,255,0);
  color: rgb(119, 119, 119);
  text-decoration: none;
  border-radius: 0.7em;
}

.tail .clear_completed {
  display: none;
  cursor: pointer;
  position: absolute;
  right: 10%;
}
/*All外框显色:nth-of-type伪类，表示第一个元素*/
.tail a:nth-of-type(1){
  border-color:orange;
}
